body {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height:1.5;
	padding:0;
	margin:0;
	background-color:white;
}

/*Global*/
.container {
	width:65%;
	margin:auto;
	overflow:hidden;
}

ul{
	margin:0;
	padding:0;
}

#main .category-food {
	margin-left: 125px;
}

#main .category-food .card {
	float: left;
	width:20%;
}


.button_1{
	height:34px;
	background:#D0D7D9;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color: black;
}

/*Header*/
header{
	padding-top:70px;
	min-height:70px;
	font-size:20px;
}

#branding {
    text-align:center;
}

header a{
	color:black;
	text-decoration:none;
	text-transform:uppercase;
	font-size:15px;
	font-family:gotham;
}

header ul{
	margin:0;
	padding:0;
}
header li{
	float:left;
	display:inline;
	padding:0 58px 0 58px;
} 

header .highlight, header .current a{
	color:#D0D7D9;
}

/*showcase*/
#showcase{
	width:70%;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
	min-height:594px;
	background:url('../img/bun.jpg') no-repeat 0px 0px;
	background-size:contain;
	background-position:center;
	text-align:center;
	color: #ffffff;
}

#showcase h1{
	margin-top:100px;
	font-size:55px;
	margin-bottom:10px;
}

#newsletter{
	padding:15px;
	color:#f4f4f4;
	background:white;
}

#newsletter input[type="email"]{
	/*padding:4px;*/
	padding-left:10px;
	height:35px;
	width:250px;
	background:#D0D7D9;
	border-width: 0;
}

#newsletter button[type="submit"]{
	height:36px;
}

#main-container .product-col, .product-half{
	float:left;
	width:44%
}

.product-padding{
	padding-top: 12px;
	padding-right: 24px;
	padding-bottom: 12px;
	padding-left: 24px;
}

#main-container .container .product-col .product-padding{
	float:left;
}

#main-container {
    margin: auto;
    margin-top: 10px;
}

footer{
	font-size:10px;
	padding:20px;
	margin-top:20px;
	color:black;
	margin-left:40%;
}

.bunsInTheCart{
    font-family: avenir;
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 25px;
    margin-top:15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight:lighter;
	background-color: #F8F8F8;
	border-radius:15px;
	line-height:10px;
}

.bunsInTheCart1{
    font-family: avenir;
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 25px;
    margin-top:15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight:lighter;
	background-color: #F8F8F8;
	border-radius:15px;
	line-height:10px;
}
 
.delete-item{
	border-style: solid;
    border-width: 1px;
   	background-color: #FFFFFF;
}

.delete-item1{
	border-style: solid;
    border-width: 1px;
   	background-color: #FFFFFF;
}

.bunsInTheCart h5{
    position: relative;
    width: auto;
    float: left;
}

.bunsInTheCart1 h5{
    position: relative;
    width: auto;
    float: left;
}

.select-dropdown{
    display: inline-block;
    margin-right: 10px;
    position: relative;
    width: auto;
    float: left;
}
 
.select-dropdown:after {
    content: " ";
    cursor: pointer;
    position: absolute;
    top: 30%;
    right: 10%;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaa;
  }

.add-to-cart{
	width:150px;
	height:35px;
	background-color: #D8D8D8;
    border-radius: 5px;
    font-size:17px;
}

.cart {
	width:65%;
	margin:auto;
	overflow:hidden;
}

